body {
    background-color: #B22C9D;
    font-family: 'Press Start 2P', cursive;
}

header {
    margin: 10px;
    text-align: center;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 72px;
    color: white;

}

.container {
    width: 1000px;
    height: 600px;
    background-color: #FFE572;
    border-color: #39B2AB;
    border-style: outset;
    border-width: 20px;
}

#questions {
    font-family: 'Press Start 2P', cursive;
    color: #B22C9D;
    font-size: 14px;
    line-height: 30px;
    padding: 30px;
}

input {
    position: relative;
    align-content: center;
}

label {
    color: #39B2AB;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 12px;
}

.row {
    margin: 0 auto;
    margin-top: 20px;   
    margin-left: 30px;
    color: #B22C9D;
    animation-name: change;
    animation-duration: 3s;
    animation-iteration-count: 10;
}

.col-6 {
    padding-left: 0px;
}

.submit {
    background-color: #39B2AB; 
    border-color: #39B2AB;
}

@keyframes change {
    100% {color: #B22C9D;}
    100% {color: #39B2AB;}
}